RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule "index.html" "index.php"
RewriteRule "^([a-zA-Z0-9]+)$" "?components=$1"
RewriteRule "api/([a-zA-Z0-9_]+)$" "?components=api&action=$1"

